.wrapper {
  padding-top: 12px;
}

.headBanner {
  position: relative;
  width: 80vw;
  max-width: 900px;
  margin: 6px auto 8px;
  padding: 6px;
}
	
.headBanner h1 {
  text-align: left;
  margin: 4px;
  font-family:  Audiowide, Oxanium, Montserrat, sans-serif;
  font-size: 3.2em;
  font-weight: 600;
  }
  
  
.flipH {
display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}


.perceptex {
  padding: 0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  color: rgb(51, 0, 170);
}

.perceptex .he1 {
  margin: -5px 0 -15px;
  padding: 0;
  font-size: 46px;
}
.perceptex .he2 {
  margin: 0;
  padding: 0 0 0 1.5px;
  font-size: 37px;
}








/*** IMPORTED FROM SLIDERS ***/

.colorSliders {}
.sliderTable {}


body .sliderTable, .sliderTable {
    font-size: 10px;
    line-height: 12px;
    min-width: 200px;
    padding: 0;
}

.sliderTable a {
    color: #0055B0;
}

.sliderTable footer {
    margin-top: 2px;
    margin-bottom: 2px;
}

body.dark .sliderTable {
    background-color: #1b1b1b;
    color: #999;
}

body.dark .sliderTable a {
    color: #5af;
}

.sliderTable sub {
    font-size: 0.7em;
    line-height: 0;
    text-decoration: none !important;
}

/* hide spinners on <input type="number"> */
.sliderTable input[type=number]::-webkit-outer-spin-button,
.sliderTable input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sliderTable input[type=number] {
    -moz-appearance: textfield;
}

.sliderTable td.cell-green {
    background-color: #9f9;
}

.sliderTable td.cell-red {
    background-color: #f99;
}

.sliderTable figure {
    margin: 0.2em;
}

figure img {
    max-width: 100%;
}

.sliderTable figcaption {
    font-size: 0.8em;
    font-weight: bold;
}

.sliderTable div.demo {
    margin: 0.2em;
}

.sliderTable div.demo button {
    margin-bottom: 2px;
    width: 100%;
}

.sliderTable div.demo div {
    color: white;
    height: 2em;
    line-height: 2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.sliderTable #picker {
    width: 200px;
    margin: auto;
}

.sliderTable #picker td.cell-input {
    width: 14px;
    padding-right: 2px;
}

.sliderTable #picker td.cell-input input {
    margin: 0;
    height: 8px;
    background: transparent;
    color: #888;
    outline: none;
    border: 1px solid #369;
    border-radius: 2px;
    text-align: right;
    width: 40%;
    padding: 0 3px;
}

.sliderTable #picker td.cell-input.cell-input-hex input {
    font-family: monospace;
    border-color: #555;
}

.sliderTable #picker table {
    margin-top: 5px;
    width: 95%;
}

.sliderTable #picker table td {
    padding: 3px 3px;
    vertical-align: top;
    border: none;
}

.sliderTable #picker table td.picker-label {
    color: #abcdef;
    width: 10px;
    line-height: 8px;
}

.sliderTable #picker table .swatch {
    height: 20px;
}

.sliderTable #picker .explanation-text {
    margin-bottom: 10px;
    margin-top: 10px;
}

.sliderTable .range-slider {
    height: 12px;
    display: block;
    position: relative;
}

.sliderTable .range-slider-handle {
    display: inline-block;
    position: absolute;
    width: 6px;
    top: -2px;
    left: -5px;
    height: 100%;
    cursor: default;
    border: 2px solid #def;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}

/***  END SLIDERS ***/




.colorPicker {border-radius: 18px;}

.contrastChart.pie { margin: 3rem auto 1rem; }

#inputTXT,
#inputBG {
  border-radius: 12px;
  text-align: center;
}

.conformScore th.tableTitle {
  position: relative;
  font-weight: 600;
}

#tableSamples #BGpicker,
#tableSamples #TXTpicker {
  position: relative;
  margin: auto;
  width: 75%;
  min-height: 144px;
  border: 2px solid #a0a0a0;
  border-radius: 12px;
  z-index: 10;
}


.innerwrapper {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

.infobox {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem 0 2rem 8rem;
  gap: 3rem;
  flex-wrap: wrap;
}
.infobox div {
  flex: 1 1 45%;
}
.infobox p {
  margin: 0 0 0.75em;
}

.sciencelinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.sciencelinks a {
  color: #def;
  text-decoration: none;
  margin: 0;
}
.gammaContainer {
  padding: 1rem;
}

.explainers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0rem 1rem 12vw;
  gap: 3rem;
  padding: 12px;
  max-width: 1024px;
}

.explainer h2 {
  font-size: 1.65rem;
}
.explainer h3 {
  font-size: 1.35rem;
}

.betanotice {
  padding: 20px;
  background: #fda;
}
.betanotice h3 {
  margin: 0;
}

#demoArea {
  text-align: center;
}

footer .innerwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

footer .innerwrapper div {
  flex: 1 1 45%;
}
